## LSTM Recurrent Neural Network
- train model on google stock prices from 2012 to 2016
- predict on jan 2017

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

### Import the dataset

In [7]:
train_df = pd.read_csv('Google_Stock_Price_Train.csv')
print(train_df.shape[0])
train_df.head()

1258

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [8]:
test_df = pd.read_csv('Google_Stock_Price_Test.csv')
print(test_df.shape[0])
train_df.head()

20

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

- only get the opening stock price
- use reshape to convert to column vector
- apply feature scaling

In [18]:
train = (train_df.iloc[:, 1].values).reshape(-1,1)
scaler = MinMaxScaler()
scaled_train = scaler.fit_transform(train)

### create training set structure
- 60 previous days to predict the 61st day

In [25]:
X_train = []
y_train = []
for i in range(60, len(train)):
    X_train.append(scaled_train[i-60:i,0])
    y_train.append(scaled_train[i,0])